/** Jquery Facebook Gallery Plugin
 * Author: Ayush Agarwal (Friendsocial Developer Network) (ayush@theletstream.com)
 * License: MIT License
 * 
 * Fetches Public Images from any Facebook Page and displays them in a beautiful grid gallery
 *  
 * Settings:
 *   pageID: Page ID whose albums to fetch
 *   excludedAlbums: Album ID's to be excluded
 *   accessToken: Acess Token of Facebook
 * 
 * Pre-Requistes:
 * Jquery
 * Font-Awesome (For Spinner Icon and Close Btn Icon)
 * Facebook Javscript SDK
 */

/** This file contains Styles for layout and typography, Loader and lightbox **/
@import url('https://fonts.googleapis.com/css?family=Cinzel');
#fbGalleryContainer{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background: url("bg-low.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
#fbGalleryLoader{
    position: relative;
    width: 100%;
    height: inherit;
    min-height: 100vh;
    background: url("bg-low.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:50;
}
#fbGalleryLoader .container{
    position: absolute;
    width:100%;
    height: 100%;
}
#fbGalleryLoader .contentWrap{
    position: relative;
    width: 100%;
    height: 100%;
}
#fbGalleryLoader .loaderContent{
    height: 75px;
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 30px;  
    color: #FFF;  
}
#fbGalleryLoader .loaderContent i{
    font-size: 40px;  
}
#fbGalleryContainer .albumHeader{
    width: 90%;
    border-bottom: 2px solid rgba(255,255,255,0.8);
    text-align: center;
    margin: 10px auto;
    left: 0;
    right: 0;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    color:rgba(255,255,255,0.9);
}
#fbGalleryContainer .albumHeader span.albumSubHeader{
    font-size:14px;
    font-style: italic;
    margin-top:0px;
    display: block;
}
#fbGalleryContainer .albumHeader a{
    font:inherit;
    color:inherit;
    text-decoration: none;
}
#fbGalleryContainer .row{
    position: relative;
    z-index: 2;
}

#fbGalleryContainer .photosContainer{
    background: transparent;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin:10px auto;
    padding:10px;
}
#fbGalleryContainer .photosContainer .grid-sizer{
    width:calc(100%/5);
}
#fbGalleryContainer .photosContainer .imageBox{
    box-sizing:border-box;
    text-align: center;
    width: calc(95%/5);
    height: auto;
    margin-bottom:6px;
    border-radius:3px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}
@media all and (max-width:768px){
    #fbGalleryContainer .photosContainer .grid-sizer{
        width: calc(100%/3);
    }
    #fbGalleryContainer .photosContainer .imageBox{
        width: calc(93%/3);
    }
    #fbGalleryContainer .albumHeader{
        font-size: 25px;
    }
    #fbGalleryContainer .albumHeader span.albumSubHeader{
        font-size: 8px;
    }
}
@media all and (max-width:400px){
    #fbGalleryContainer .photosContainer .grid-sizer{
        width: calc(100%/2);
    }
    #fbGalleryContainer .photosContainer .imageBox{
        width: calc(92%/2);
    }
    #fbGalleryContainer .albumHeader{
        font-size: 20px;
    }
}
#fbGalleryContainer .photosContainer .imageBox a>img{
    vertical-align: middle;
    width: 100%;
    height: auto;
    display: none;
    transition: all 0.5s;
    background-repeat: no-repeat;
}

#fbGalleryContainer .photosContainer .imageBox:hover a>img,
#fbGalleryContainer .photosContainer .imageBox:active a>img,
#fbGalleryContainer .photosContainer .imageBox:focus a>img{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 1px #000;
}
#lightbox{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;left: 0;
    text-align: center;
    z-index:9999;
    background: rgba(0,0,0,0.5);
}
#lightbox .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
#lightbox .content{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
#lightbox .content .topbar{
    position: absolute;
    top:7px;right:7px;
    width:40px;
    color: rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.2);
}
#lightbox .content .topbar i.fa{
    font-size:40px;
    cursor: pointer;
}
#lightbox .content .topbar i.fa:hover,
#lightbox .content .topbar i.fa:active,
#lightbox .content .topbar i.fa:focus{
    color:rgba(0,0,0,0.9);
}
#lightbox .content .imageContainer{
    width: 100%;
    height: 100%;
}
#lightbox .content .imageContainer img{
    position: absolute;
    max-width: 98%;
    max-height: 98%;
    margin:auto;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    box-sizing: border-box;
    box-shadow: 0 0 12px 3px #FFF;
}
#lightbox .content .link{
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    display: block;
    background: #000;
    padding: 5px;
    font-family: 'Cinzel', serif;
}
#lightbox .content a{
    text-decoration: none;
}
#lightbox .content .link:hover,
#lightbox .content .link:focus,
#lightbox .content .link:active{
    background: rgba(0,0,0,0.8);
}