/** Jquery Facebook Gallery Plugin
 * Author: Ayush Agarwal (Friendsocial Developer Network) (ayush@theletstream.com)
 * License: MIT License
 * 
 * Fetches Public Images from any Facebook Page and displays them in a beautiful grid gallery
 *  
 * Settings:
 *   pageID: Page ID whose albums to fetch
 *   excludedAlbums: Album ID's to be excluded
 *   accessToken: Acess Token of Facebook
 * 
 * Pre-Requistes:
 * Jquery
 * Font-Awesome (For Spinner Icon and Close Btn Icon)
 * Facebook Javscript SDK
 */

/** This file contains Styles for layout and typography, Loader and lightbox **/
@import url('https://fonts.googleapis.com/css?family=Cinzel');
#fbGalleryContainer{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background: url("bg-low.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
#fbGalleryLoader{
    position: relative;
    width: 100%;
    height: inherit;
    min-height: 100vh;
    background: url("bg-low.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:50;
}
#fbGalleryLoader .container{
    position: absolute;
    width:100%;
    height: 100%;
}
#fbGalleryLoader .contentWrap{
    position: relative;
    width: 100%;
    height: 100%;
}
#fbGalleryLoader .loaderContent{
    height: 75px;
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 30px;  
    color: #FFF;  
}
#fbGalleryLoader .loaderContent i{
    font-size: 40px;  
}
#fbGalleryContainer .albumHeader{
    width: 90%;
    border-bottom: 2px solid rgba(255,255,255,0.8);
    text-align: center;
    margin: 10px auto;
    left: 0;
    right: 0;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    color:rgba(255,255,255,0.9);
}

#fbGalleryContainer .row{
    position: relative;
    z-index: 2;
}

#fbGalleryContainer .photosContainer{
    background: transparent;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin:10px auto;
    padding:10px;
}
#fbGalleryContainer .photosContainer .imageBox{
    box-sizing:border-box;
    display: inline-block;
    text-align: center;
    width: calc(90%/4);
    margin: 5px;
    height: 250px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    background-image: url('loader.gif');
    background-size: cover;
    background-position: center;
}
@media all and (max-width:768px){
    #fbGalleryContainer .photosContainer .imageBox{
        width: calc(90%/3);
        height: 180px;
    }
    #fbGalleryContainer .albumHeader{
        font-size: 25px;
    }
}
@media all and (max-width:400px){
    #fbGalleryContainer .photosContainer .imageBox{
        width: calc(90%/2);
        height: 150px;
    }
    #fbGalleryContainer .albumHeader{
        font-size: 20px;
    }
}
#fbGalleryContainer .photosContainer .imageBox a>div{
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-size: cover; 
    transition: all 0.5s;
    background-repeat: no-repeat;

}
#fbGalleryContainer .photosContainer .imageBox:hover a>div,
#fbGalleryContainer .photosContainer .imageBox:active a>div,
#fbGalleryContainer .photosContainer .imageBox:focus a>div{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 1px #000;
}
#lightbox{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;left: 0;
    z-index:9999;
    background: rgba(0,0,0,0.5);
}
#lightbox .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
#lightbox .content{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
#lightbox .content .topbar{
    position: absolute;
    top:7px;right:7px;
    width:40px;
    color: rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.2);
}
#lightbox .content .topbar i.fa{
    font-size:40px;
    cursor: pointer;
}
#lightbox .content .topbar i.fa:hover,
#lightbox .content .topbar i.fa:active,
#lightbox .content .topbar i.fa:focus{
    color:rgba(0,0,0,0.9);
}
#lightbox .content a,
#lightbox .content img{
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 12px 3px #FFF;
    cursor: alias;
}
