*{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	box-sizing:border-box;
}

.minScreenSizeOverlay{
	position:absolute;
	width:100%;
	height:100%;
	z-index:99999;
	background:#FFF;
}

section{
	padding-bottom:20px;
}
.navbar{
	background:#B4B4B4;
	box-shadow:0px 0px 25px #000;
	border:none;
	padding:5px 0px;
}
.navigation-links{
	margin:auto;
	box-sizing:border-box;
}

@media all and (min-width:300px){
	.minScreenSizeOverlay{
		display:none;
	}
}

#events{
	background:#2C3E50;
	color: #FFF;
	box-shadow:inset 0px 1px 9px 5px #000;

}
#events .section-header{
	background:rgba(255,255,255,0.5);
}
.eventsList{
	min-width:300px;
}
.eventBox{
	/**border:1px solid #000;**/
	height:400px;
	min-width:300px;
	margin:10px 20px;
	padding:10px;
	background:#F2F1EF;
	box-shadow:2px 2px 15px #979696;
	box-sizing:border-box;
	color:#000;
	text-align:center;
}
.eventBox div{
	margin:auto;
	left:0;right:0;
}

button{
	border:none;
	box-shadow:1px 1px 2px #000;
	padding:10px;
}
.eventTitle{
	height:100px;
	width:100%;
}
.eventTitle h2{
	font-weight:800;
}

.eventDesc,.eventDiscInfo{
	padding:0;
	text-align:left;
}
.eventDiscInfo .eventDescInfoContainer{
	text-align:left;
}
.eventCTA{
	bottom:5px;
	width:100%;
	position:absolute;
}

.eventCTA button{
	width:100%;
}

.logoContainer{
	margin:0px 5px;
	width:160px;
	height:auto;
	overflow:hidden;
/**	border:1px solid #000; **/
}

.logo{
	padding:0;
	width:130px;
	height:auto;
}

.iconMed{
	font-size:36px;
}

.heading{
	padding:0px 10px;
	font-size:30px;
}

.description{
	font-size:15px;
	padding:0px 10px;
}

#intro{
	padding-left:20px;
	background:#ECF0F1;
	color:#2A2A2A;
	height:auto;
}

.servicesList{
	margin-left:20px;
}

#alumni{
	background:#ECF0F1;
/**	padding-bottom:150px;**/
}

#alumni .section-header{
	color: #FFF;
}
.alumniBox{
	min-width:155px;
	max-width:300px;
	padding:10px;
	margin:10px 20px;
	background:#F2F1EF;
}


.alumniBox .alumniPhotoContainer{
	border-radius:50%;
	border:5px solid #D4D4D4;
	overflow:hidden;
}

.alumniBox .alumniPhotoContainer,
.alumniBox .alumniPhotoContainer img{
	height:100px;
	width:100px;
}


.box-shadow{
	box-shadow:0px 0px 4px #000;
}

.alumniInfoContainer{
	margin:5px;
}

.alumniName{
	font-size:18px;
}

.alumniJob{
	font-style:italic;
	font-size:12px;
}

.horizon-center{
	margin:auto;
	left:0; right:0;
}

.row-centered{
	text-align:center;
}

.col-centered{
	display:inline-block;
	float:none;
	text-align:center;
	margin-right:-4px;
}

.section-header{
	background:rgba(0,0,0,0.5);
	padding:20px;
	margin-top:100px;
	margin-bottom:30px;
	box-shadow:0px 5px 10px #000;
}

#contact{
	background:#2C3E50;
	color: #FFF;
    box-shadow:inset 0px 1px 9px 5px #000;
	padding:0;
}
a.page-scroll{
	margin-top:5px;
}
