*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
}

.hidden{
	display: none;
}

h1.heading{
    text-decoration: underline;
}
.underline{
    text-decoration: underline;
}
ul.list-unstyled{
	list-style-type: none;
	padding: 0;
}
ul.list-inline li{
	display: inline-block;
}
img.icon{
	width:50px;
	height: 50px;
}
/**Fix for white space**/
.row{
	margin-right:0px;
	margin-left:0px;
}
/** General CSS **/
/** Links **/
a:link {
    color: #000;
}
/* visited link */
a:visited {
    color: #000;
}
/* mouse over link */
a:hover {
    color: #000;
	text-decoration: none;
}
/** Properties **/
.box-shadow{
	box-shadow:0px 0px 4px #000;
}
.horizon-center{
	margin:auto;
	left:0; right:0;
}
.absolute-center{
	position: absolute;
	margin: auto;
	left: 0; right: 0;
	top: 0; bottom: 0;
}
.auto-center{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.row-centered{
	text-align:center;
}
.col-centered{
	display:inline-block;
	float:none;
	text-align:center;
	margin-right:-4px;
}
.no-float{
    float: none;
}
.no-padding{
	padding: 0;
}
.padding-20{
	padding: 20px;
}
.padding-sides-10{
	padding-left: 10px;
	padding-right: 10px;
}
.width-60{
	width: 60% !important;
}
.btn-flat{
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 0;
}
.btn-primary.btn-semi-transparent{
	background: rgba(51,122,183,0.5);
	border:3px solid rgba(51,122,183,1);
	transition: 0.5s;
}
.btn-primary.btn-semi-transparent:hover,
.btn-primary.btn-semi-transparent:active,
.btn-primary.btn-semi-transparent:focus{
	background: rgba(51,122,183,1);
}

.btn-danger.btn-semi-transparent{
	background: rgba(169,68,66,0.5);
	border:3px solid rgba(169,68,66,1);
	transition: 0.5s;
}
.btn-danger.btn-semi-transparent:hover,
.btn-danger.btn-semi-transparent:active,
.btn-danger.btn-semi-transparent:focus{
	background: rgba(169,68,66,1);
}
.background-overlay{
	position: relative;
	z-index: 1;
}
.background-overlay::before{
	content: '';
	position: absolute;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 0;
	top: 0;
	left: 0;
}
.background-overlay-20::before{
	background: rgba(0,0,0,0.2);
}
.bottom-border{
	display: inline-block;
	position: relative;
}
.bottom-border:hover::after{
	width:80%;
}
.bottom-border::after{
	content: '';
	position: absolute;
	left: 0;
	bottom:-5px;
	width:100%;
	height: 5px;
	border-radius: 5px;
	background: #000;
	transition:0.5s ease-in;
}
.bottom-border.center::after{
	margin: auto;
	left: 0; right: 0;
}
.bottom-border.bottom-border-40::after{
	width: 40%;
}
.bottom-border.bottom-border-40:hover::after{
	width:40%;
}
.bottom-border-danger::after{
	background: #96281B;
}
.bottom-border-success::after{
	background: rgba(51,122,183,1);
}
.bottom-border-white::after{
	background: #FFF;
}
.hover-opacity{
	opacity: 0.6;
	transition: 0.5s;
}
.hover-opacity:hover{
	opacity: 1;
}
.fa-facebook{
	color: #4267B2;
}
.fa-link{
	color: #34A853;
}
