*{
	font-family: 'Josephin Sans',sans-serif;
	box-sizing:border-box;
}
body,html{
	margin:0;padding:0;
	width:100%;
}
.absolute-center{
	position: absolute;
	margin: auto;
	left: 0; right: 0;
	top: 0; bottom: 0;
}
.minScreenSizeOverlay{
	position:fixed;
	width:100%;
	height:100%;
	z-index:99999;
	box-shadow:inset 0px 0px 100px 1px #6B6B6B;
	background:#ECF0F1;
}
.minScreenSizeOverlay .contentContainer{
	position:relative;
	width:100%;
}
.minScreenSizeOverlay .content{
	text-align:center;
	position: fixed;
	top: 50%;
	margin-top: -100px;
	width:100%;
	font-family:'Oswald', sans-serif;
	font-weight: bold;
	font-size: 20px;
}
@media all and (min-width:300px){
	.minScreenSizeOverlay{
		display:none;
	}
}
/**Fix for white space**/
.row{
	margin-right:0px;
	margin-left:0px;
}

/** General CSS **/
a:link {
    color: #000;
}
/* visited link */
a:visited {
    color: #000;
}
/* mouse over link */
a:hover {
    color: #000;
	text-decoration: none;
}

section{
	padding-bottom:20px;
	transform-style: preserve-3d;
	transform:translateZ(0);
}
button{
	border:none;
	box-shadow:1px 1px 2px #000;
	padding:10px;
}
.heading{
	padding:0px 10px;
	font-size:30px;
	font-family:'Anton',sans-serif;
}
.box-shadow{
	box-shadow:0px 0px 4px #000;
}
.horizon-center{
	margin:auto;
	left:0; right:0;
}
.row-centered{
	text-align:center;
}

.col-centered{
	display:inline-block;
	float:none;
	text-align:center;
	margin-right:-4px;
}
.section-header{
	font-family:'Anton',sans-serif;
	background:rgba(0,0,0,0.5);
	padding:20px;
	margin-top:100px;
	margin-bottom:30px;
	margin-left:auto;margin-right:auto;
	left:0;right:0;
	box-shadow:0px 5px 10px #000;
}

/** PreLoader **/

.preloader{
	position:fixed;
	width:100%;
	height:100%;
	z-index:99999;
	background:#2C3E50;
	animation-name:color-changing-background;
	animation-duration:10s;
	animation-timing-function:linear;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}
.preloader .content{
	position:relative;
	width:100%;height:100%;
}
.preloader .preloader-content{
	position:absolute;
	width:180px;
	height:190px;
	text-align:center;
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
	color:rgba(255,255,255,0.9);
	font-size:40px;
	animation-name:blinking-text;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}
@keyframes color-changing-background{
	0%{
		background:#2C3E50;
	}
	25%{
		background:#674172;
	}
	50%{
		background:#96281B;
	}
	75%{
		background:#336E7B;
	}
	100%{
		background:#2C3E50;
	}
}
@keyframes blinking-text{
	0%{
		opacity:0.15;
	}
	25%{
		opacity:0.25;
	}
	50%{
		opacity:0.5;
	}
	75%{
		opacity:0.75;
	}
	100%{
		opacity:1;
	}
}
/**FlashBox**/
.flashbox{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	z-index:9999;
	text-align:center;
}
.flashbox .content{
	position:absolute;
	width:95%;
	max-height:95%;
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
	overflow:hidden;
}
.flashbox .content .closeBtn{
	position:absolute;
	top:0;right:2px;
	cursor:pointer;
	color:#FFF;
	font-size:25px;
	z-index:3;
}
.flashbox .flashBox-content{
	position:relative;
	width:100%;
	height:100%;
}
.flashbox .content .flashBox-content img{
	position:absolute;
	margin:auto;
	top:0;bottom:0;
	left:0;right:0;
	height:auto;
	max-height:100%;
	max-width:100%;
	width:auto;
}

/** FlashBox Styles end **/

/** Navigation Bar **/
.navbar{
	background:rgba(255,255,255,0.95);
	box-shadow:0px 0px 5px #000;
	border:none;
}
.logoContainer{
	margin:0px 5px;
	width:160px;
	height:auto;
	overflow:hidden;
}
.logo{
	width: 150px;
}
.logoDisplay{
   display:block;
  }

.navcontainer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.logo{
	padding:0;
	height:auto;
}
.iconMed{
	font-size:36px;
}
.navigation-links{
	margin:auto;
	box-sizing:border-box;
}
a.page-scroll{
	font-family: 'Oswald', sans-serif;
	margin-top:7px;
	font-size:30px;
}
.navbar-default .navbar-nav>li>a.active{
	color:#000;
}
/** Styles Menu specially for tablet view **/
@media all and (min-width: 768px) and (max-width: 992px){ 
  .nav{
	  float:none;
  }
  .nav>li>a{
	  padding:15px 6px;
  }
  a.page-scroll{
	font-size:20px;
  }
  
  .navcontainer{
	margin-left: 5px;
	margin-right: 5px;
  }

}
/** Tablet Styles End **/

/** Cover Section **/
#home{
	height:100%;
	padding-top:100px;
	background: url("../images/bgrnd.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x:hidden;
	transform: translate3d(0,0,-1px);
}
#home .container{
	position:relative;
	height:100%;
}
#home .cover-content{
	width:500px;
	height:300px;
	text-align:center;
}
#home .coverLogo{
	width:100%;
	animation-name:fade;
	animation-duration:4s;
	animation-timing-function:linear;
}
@keyframes fade{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
#home .motto{
	float:right;
	font-family: 'Anton', sans-serif;
	font-style:italic;
	font-size:18px;
	font-weight:100;
}
#home .scrollMore{
	clear:both;
	color: ghostwhite;
	font-size:28px;
	font-family: 'Lobster', cursive;
	margin-top: 30px;
	animation-name:fade;
	animation-duration:3s;
	animation-timing-function:linear;
}
#home .scrollIcon{
	color: ghostwhite;
	padding:0px;
}
@media all and (max-width: 768px){
	#home .cover-content{
		width:290px;
		height:200px;
	}
}

/** Intro Section **/
#intro{
	background:#ECF0F1;
	padding:60px 10px 100px 10px;
	height:auto;
	color:#000;
}
#intro .siteAboutContainer{
    padding-top: 35px;
	font-family: 'Lobster', cursive;
	font-size:48px;
	padding-bottom: 20px;
	color:#000;
}
@media screen and (max-width:768px){
	/** Mobile devices **/
	#intro .siteAboutContainer{
		font-size:35px;
	}
}
#intro .description{
	margin-top: 10px;
	font-size:24px;
	padding:4px 10px;
	padding-left: 25px;
	color:#000;
}
.servicesList{
	margin-top: 10px;
	margin-left:40px;
}
.servicesList li{
	display:block;
	position:relative;
	margin-top:15px;
	font-size:22px;
	color:#000;
}
.servicesList li::before{
	/** This class definition adds 'tick' using font awesome unicode
		Pre-check that element li has 'fa' class or else blank boxes may be displayed
	 **/
	content:"\f00c";
	position:absolute;
	left:-22px;
	width:10px;height:10px;
	color:#000;
	font-size:18px;
}
#joinNowBtn{
	vertical-align:bottom;
	width:100%;
	font-weight:600;
	font-size:25px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-left: 10px;
	color:#FFF;
}
@media all and (min-width:400px){
	#joinNowBtn{
		margin-top: 150px;
	}
}
/** Events Section **/
#events{
	background:#4c667f;
	box-shadow:inset 0px 1px 9px 5px #000;
	padding-bottom:50px;
}
.eventsList{
	min-width:220px;
	margin:auto;
	left:0;right:0;
}
.eventBox,
.youtubeBox{
	height: 420px;
	width: 340px;
	margin:10px 20px;
	padding:10px;
	background:#F2F1EF;
	box-shadow:2px 2px 15px #979696;
	box-sizing:border-box;
	color:#000;
	text-align:center;
}
.youtubeBox{
	padding:0px;
	height:380px;
}
.youtubeBox>div>div{
	padding:0;
}
.youtubeBox .youtubeVideoContainer{
	height:191px;	/** it should be calculated as (width of parent)*9/16 **/
}
.youtubeBox .youtubeVideoContainer div{
	height:inherit;
}
.youtubeBox .youtubeVideo{
	width:100%;
	height:100%;
	border:none;
}
.youtubeBox .youtubeInfoContainer{
	height:188px;
	overflow:hidden;
}
.youtubeBox .youtubeVideoTitleContainer{
	height:60px;
	overflow:hidden;
}
.youtubeVideoDescContainer{
	width:100%;
	height:130px;
	overflow:hidden;
}
.youtubeVideoDescContainer:hover{
	overflow-y:scroll;
	overflow-x:scroll;
}
@media all and (max-width:299px){
	.eventBox,
	.youtubeBox{
		display:none;
	}
}
@media all and (min-width:300px) and (max-width:768px){
	.eventBox, .youtubeBox{
		width:250px;
		margin:10px 2px;
	}
	.youtubeBox>div>div{
		height:140px;
	}
}
.eventBox div{
	margin:auto;
	left:0;right:0;
}
.eventTitle{
	height:98px;
	width:100%;
	overflow:hidden;
	margin-bottom: 1px;
}
.eventTitle h2,
.youtubeVideoTitleContainer h2{
	font-size:24px;
	font-family: 'Anton', sans-serif;
	font-weight:600;
}
.youtubeVideoTitleContainer h2.text-small{
	font-size:18px;	
}
.eventDesc,.eventDescInfo{
	padding:0;
	text-align:left;
}
.eventDescInfo .eventDescInfoContainer{
	height:250px;
	text-align:left;
	overflow-x:hidden;
	overflow-y:hidden;
}
.eventDescInfo .eventDescInfoContainer:hover{
	overflow-y:auto;
	overflow-x:auto;
}
.eventCTA{
	bottom:5px;
	width:100%;
}
.eventCTA div{
	float:left;
	margin:auto;
	top:0;
	bottom:0;
	padding: 2px;
}
.eventCTA button{
	text-align: center;
	width:100%;
	font-weight:600;
	font-size:18px;
	margin-bottom: 10px;
	color:#FFF;
	padding:7px 2px;
}
.event-buttons{
	margin-right: 15px;
	box-shadow:2px 3px 3px #000;
	font-weight: 600;
	font-size: 16px;
	padding: 20px;
	margin-top:20px;
	color:#FFF;
}
/** Utilities Section **/
#utilities{
	background:#d0dce8;
}
#utilities .section-header{
	color: #FFF;
}
/* Fix to enable multiple colors in the same section members using same classes and/or IDs */
#utilities-color-fix{
	margin-top: 106px;
	color: #fff;
}
#utilities-color-fix2{
	margin-top: 106px;
	color: #fff;
}
#utilities-color-fix3{
	margin-top: 30px;
	color: #fff;
	margin-bottom: 50px;
}
#rankBox1{
	background-color: #ffdf32;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	width:110px;
	height:100px;
	padding:0px;
	padding-top:50px;
	text-align:center;
	color:#000;
	position: relative;
	left: 50%;
	margin-left: -56px;
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.5), inset 4px 4px 30px 25px rgba(229,200,45,0.2);
	z-index: 2;
	padding-bottom: 140px;
	margin-top:90px;
}
#rankBox2{
	background-color: #c0c0c0;
	border-top-right-radius: 2px;
	width:110px;
	height:100px;
	padding:0px;
	padding-top:50px;
	text-align:center;
	color:#000;
	position: relative;
	left: 50%;
	margin-left: 53px;
	margin-top: -160px;
	box-shadow: 4px 3px 0px 0px rgba(0, 0, 0, 0.5), inset 3px 3px 25px 20px rgba(172,172,172,0.2);
	z-index: 3;
	padding-bottom: 100px;
	margin-top:-150px;
}
#rankBox3{
	background-color: #d28b46;
	border-top-left-radius: 2px;
	width:110px;
	height:100px;
	padding:0px;
	padding-top:50px;
	text-align:center;
	color:#000;
	position: relative;
	left: 50%;
	margin-left: -163px;
	margin-top: -120px;
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.5), inset 1px 1px 20px 15px rgba(189,125,63,0.2);
	z-index: 1;
	padding-bottom: 60px;
	margin-top:-110px;
}
.rankerPhotoContainer{
	position:absolute;
	top:-40px;
	border-radius:50%;
	border:3px solid #D4D4D4;
	overflow:hidden;
	height:80px;
	width: 80px;
}
.rankerPhotoContainer:rankBox3{
	margin-right: 2px;
}
.rankerPhotoContainer img{
	height:80px;
	width:80px;
}
.rankerText{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
}
@media all and (min-width:751px){
	#rankerBtn{
		margin-right: 50px;
		margin-top: 40px;
		margin-bottom: 5px;
	}
}
@media all and (max-width:750px){
	#rankerBtn{
		margin-right: 10px;
		margin-top: 10px;
	}
}
#rankerBtn{
	color: #fff;
	position:relative;
	font-size: 19px;
	padding: 20px;
	border-radius:2px;
	font-weight: 600;
	box-shadow:2px 3px 3px #000;
}
.CommonSectionbtn{
	padding:20px;
	width:100%;
	font-weight:600;
	font-size:20px;
	padding: 20px;
	color:#FFF;
	margin-top: -60px;
	margin-bottom: 25px;
	box-shadow:0px 3px 7px #000;
}
/** Picture Box**/
.picsBox{
	height:215px;
	width: 167px;
	margin: 10px 15px;
	background:#F2F1EF;
	box-shadow:2px 2px 3px #979696;
	box-sizing:border-box;
	color:#000;
	text-align:center;
}
.picsText{
	margin-top:5px;
	color: #000;
	width: 100%;
	opacity: 0.87;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 18px;
	padding-top: 3px;
	overflow: hidden;
	text-align:left;
	padding-left: 4px;
	-webkit-font-smoothing: antialiased;
}
.picsDate{
	width: 100%;
	opacity: 0.5;
	font-family: 'Roboto Condensed', sans-serif;
	overflow: hidden;
	text-align:left;
	padding-left:4px;
	-webkit-font-smoothing: antialiased;
}
.coverpics{
	width: 167px;
	height: 167px;
	overflow-x:hidden;
	overflow-y:hidden;
}
#MediaPartner{
	font-family: 'Aladin', cursive;
	font-size: 30px;
}
.resourceBox{
	height: 180px;
	width: 180px;
	margin: 15px 20px;
	background:#F2F1EF;
	box-shadow:2px 2px 3px #979696;
	box-sizing:border-box;
	color:#000;
	text-align:center;
	position: relative;
}
.resourcePics{
	opacity: 0.95;
	width: 180px;
	height: 180px;
	overflow-x:hidden;
	overflow-y:hidden;
	position: absolute;
	left: 0;
	top: 0;
}
.resourceText{
	opacity:0;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 5px 5px 25px 6px;
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	text-align: left;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
	overflow-x:hidden;
	overflow-y:hidden;
}
.resourceText:hover{
	opacity: 1;
	animation-name:fade-in-left;
	animation-duration:30ms;
	animation-timing-function:linear;
}
@keyframes fade-in-left{
	from {left: -215px;}
    to {left: 0px;}
}
/** Alumni Section **/
#alumni{
	background:#4c667f;
	box-shadow:inset 0px 1px 9px 5px #000;
	padding-bottom:50px;
}
#alumni .section-header{
	margin-top:50px;
	color: #FFF;
}
.alumniDescription{
	position:relative;
	padding:20px;
	padding-left: 50px;
	text-align:center;
	color: #fff;
}
.alumniDescription p{
	font-size:38px;
	font-family: 'Aladin', cursive;
	color: #fff;
}
.alumniDescription:before{
	content:'\f10d';
	position:absolute;
	top:0;
	left:0;
	color: #fff;
	opacity: 0.1;
	font-size:45px;
}
.alumniDescription:after{
	content:'\f10e';
	position:absolute;
	bottom:0;
	right:0;
	color: #fff;
	opacity: 0.1;
	font-size:45px;
}
/** Team Section **/
#team{
	background:#d0dce8;
	padding-bottom:50px;
}
#team .section-header{
	margin-top:55px;
	margin-bottom:55px;
	color:#fff;
}
.teamBox{
	position:relative;
	width:180px;
	height:100px;
	padding:0px;
	padding-top:50px;
	text-align:center;
	margin:30px 20px 40px 10px;
	color:#FFF;
}
.teamBox .teamPhotoContainer{
	position:absolute;
	top:-50px;
	border-radius:50%;
	border:5px solid #D4D4D4;
	overflow:hidden;
}
.teamBox .teamPhotoContainer,
.teamBox .teamPhotoContainer img{
	height:100px;
	width:100px;
}
.teamInfoContainer{
	margin:5px;
}
.teamName{
	font-size:18px;
}
.teamDesignation{
	font-style:italic;
	font-size:12px;
}
/** Contact Section **/
#contact{
	height:auto;
	background:#4c667f;
	box-shadow:inset 0px 1px 9px 5px #000;
}
#contact .section-header{
	margin-top:20px;
	margin-bottom:45px;
	color:#FFF;
}
#contactLinksContainer>div{
	padding:0;
}
.icon-grey{
	font-size:75px;
	color: #fff;
	opacity: 0.82;
}
@media all and (max-width:400px){
	.icon-grey{
		font-size:35px;
		margin-bottom:25px;
		margin-top:20px;
	}
}
@media all and (min-width:401px) and (max-width:768px){
	.icon-grey{
		font-size:50px;
		margin-bottom:25px;
		margin-right:25px;
		margin-top:20px;
	}
}
.icon-grey:hover{
	color:rgba(0,0,0,0.8);
}
.icon-grey.hover-blue:hover{
	color:rgba(34,121,224,1);
}
.icon-grey.hover-red:hover{
	color:rgba(255,50,50,1);
}
.icon-grey.hover-yellow:hover{
	color:rgba(255,255,50,1);
}
.icon-grey.hover-green:hover{
	color:rgba(128,255,128,1);
}
