*{
		font-family:"Roboto Condensed",sans-serif;
	box-sizing:border-box;
}
body,html{
	margin:0;padding:0;
	width:100%;
}
.minScreenSizeOverlay{
	position:fixed;
	width:100%;
	height:100%;
	z-index:99999;
	box-shadow:inset 0px 0px 100px 1px #6B6B6B;
	background:#ECF0F1;
}
.minScreenSizeOverlay .contentContainer{
	position:relative;
	width:100%;
	height:100%;
}
.minScreenSizeOverlay .content{
	text-align:center;
	position:absolute;
	margin:auto;
	top:0;bottom:0;
	width:100%;
	padding: 25px;
	padding-top: 75%;
	padding-bottom: 80%;
	font-family:'Chewy',cursive;
	font-weight: bold;
	font-size: 20px;
	/** Apply All your text styles here **/
}
@media all and (min-width:300px){
	.minScreenSizeOverlay{
		display:none;
	}
}
/**Fix for white space**/
.row{
	margin-right:0px;
	margin-left:0px;
}

/** General CSS **/
section{
	padding-bottom:20px;
	transform-style: preserve-3d;
	transform:translateZ(0);
}
button{
	border:none;
	box-shadow:1px 1px 2px #000;
	padding:10px;
}
.heading{
	padding:0px 10px;
	font-size:30px;
	font-family:'Anton',sans-serif;
}
.box-shadow{
	box-shadow:0px 0px 4px #000;
}
.horizon-center{
	margin:auto;
	left:0; right:0;
}
.row-centered{
	text-align:center;
}

.col-centered{
	display:inline-block;
	float:none;
	text-align:center;
	margin-right:-4px;
}
.section-header{
	font-family:'Anton',sans-serif;
	background:rgba(0,0,0,0.5);
	padding:20px;
	margin-top:100px;
	margin-bottom:30px;
	margin-left:auto;margin-right:auto;
	left:0;right:0;
	box-shadow:0px 5px 10px #000;
}

/** PreLoader **/

.preloader{
	position:fixed;
	width:100%;
	height:100%;
	z-index:99999;
	background:#2C3E50;
	animation-name:color-changing-background;
	animation-duration:10s;
	animation-timing-function:linear;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}
.preloader .content{
	position:relative;
	width:100%;height:100%;
}
.preloader .preloader-content{
	position:absolute;
	width:180px;
	height:190px;
	text-align:center;
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
	color:rgba(255,255,255,0.9);
	font-size:40px;
	animation-name:blinking-text;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}
@keyframes color-changing-background{
	0%{
		background:#2C3E50;
	}
	25%{
		background:#674172;
	}
	50%{
		background:#96281B;
	}
	75%{
		background:#336E7B;
	}
	100%{
		background:#2C3E50;
	}
}
@keyframes blinking-text{
	0%{
		opacity:0.15;
	}
	25%{
		opacity:0.25;
	}
	50%{
		opacity:0.5;
	}
	75%{
		opacity:0.75;
	}
	100%{
		opacity:1;
	}
}
/**FlashBox**/
.flashbox{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	z-index:9999;
	text-align:center;
}
.flashbox .content{
	position:absolute;
	width:95%;
	max-height:95%;
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
	overflow:hidden;
}
.flashbox .content .closeBtn{
	position:absolute;
	top:0;right:2px;
	cursor:pointer;
	color:#FFF;
	font-size:25px;
	z-index:3;
}
.flashbox .flashBox-content{
	position:relative;
	width:100%;
	height:100%;
}
.flashbox .content .flashBox-content img{
	position:absolute;
	margin:auto;
	top:0;bottom:0;
	left:0;right:0;
	height:auto;
	max-height:100%;
	max-width:100%;
	width:auto;
}

/** FlashBox Styles end **/

/**Color Chooser: Will be implemented in future updates **/
#color-chooser{
	display:none;
	position:fixed;
	bottom:0;right:0;
	width:100px;
	height:25px;
	background:#FFF;
	z-index:999;
}
#color-chooser ul{
	margin:0;padding:0;
	list-style-type:none;
}
#color-chooser ul li{
	margin:0;padding:0;
	width:25px;
	height:25px;
	float:left;
	display:inline;
}
/** End Color Chooser **/
/** Color definitions (A step to implement color chooser) **/
.theme-bg.green{
	background: #1BBC9B;
}
.theme-bg.blue{
	background:#2C3E50;
}
.theme-bg.yellow{
	background:#F9BF3B;	
}
.theme-bg.red{
	background:#D64541;	
}

.theme-btn-primary.blue{
	background:#2C3E50;	
	color:#FFF;
}
.theme-btn-primary.blue:hover{
	background:#374A5E;	
	color:#FFF;
}

.theme-btn-primary.green{
	background:#1BBC9B;	
	color:#FFF;
}
/** Color Definitions End **/
/** Navigation Bar **/
.navbar{
	background:#D4D4D4;
	box-shadow:0px 0px 25px #000;
	border:none;
	padding:5px 0px;
}
.logoContainer{
	margin:0px 5px;
	width:160px;
	height:auto;
	overflow:hidden;
}
.logo{
	padding:0;
	width:150px;
	height:auto;
}
.iconMed{
	font-size:36px;
}
.navigation-links{
	margin:auto;
	box-sizing:border-box;
}
a.page-scroll{
	font-family: 'Oswald', sans-serif;
	margin-top:5px;
	font-size:25px;
}
/** Cover Section **/
#home{
	height:100%;
	padding-top:100px;
	background:radial-gradient(ellipse closest-corner at center, #ffffff 10%, #d4d4d4 60%, #6b6767 100%);
	background:-ms-radial-gradient(center, ellipse closest-corner, #ffffff 10%, #d4d4d4 60%, #6b6767 100%); /* IE 10+ */
	box-shadow:inset 0px 0px 100px 1px #6B6B6B;
	overflow-x:hidden;
	transform: translate3d(0,0,-1px);
}
#home .container{
	position:relative;
	height:100%;
}
#home .absolute-center{
	position:absolute;
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
	width:500px;
	height:300px;
	text-align:center;
}
#home .coverLogo{
	width:100%;
	animation-name:fade;
	animation-duration:4s;
	animation-timing-function:linear;
}
@keyframes fade{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
#home .motto{
	float:right;
	font-family: 'Anton', sans-serif;
	font-style:italic;
	font-size:18px;
	font-weight:100;
}
#home .scrollMore{
	clear:both;
	font-size:24px;
	font-family: 'Chewy', cursive;
	animation-name:fade;
	animation-duration:3s;
	animation-timing-function:linear;
}
#home .scrollIcon{
	padding:0;
}
@media all and (max-width:768px){
	#home .absolute-center{
		width:290px;
		height:200px;	
	}
}

/** Intro Section **/
#intro{
	padding:60px 10px 100px 10px;
	background:#ECF0F1;
	color:#2A2A2A;
	height:auto;
}
.siteAboutContainer{
    padding-top: 35px;
	font-family: 'Oswald', sans-serif;
	font-size:48px;
	padding-bottom: 20px;
}

@media screen and (max-width:768px){
	.siteAboutContainer{
		font-size:35px;
	}
}
#intro .description{
	font-size:18px;
	padding:4px 10px;
	padding-left: 25px;
}
.servicesList{
	margin-left:40px;

}
.servicesList li{
	display:block;
	position:relative;
	margin-top:15px;
	font-size:20px;
}
.servicesList li::before{
	content:"\f00c";
	position:absolute;
	left:-22px;
	width:10px;height:10px;
	color:#000;
	font-size:18px;
}
.servicesList li span{
	font-family:"Roboto Condensed",sans-serif;
}
#joinNowBtn{
	vertical-align:bottom;
	width:100%;
	font-weight:600;
	font-size:20px;
	margin-top: 100px;
}
/** Events Section **/
#events{
	color: #FFF;
	box-shadow:inset 0px 1px 9px 5px #000;
}
#events .section-header{
	background:rgba(255,255,255,0.5);
}
.eventsList{
	min-width:220px;
	margin:auto;
	left:0;right:0;
}
.eventBox{
	height:400px;
	width: 300px;
	margin:10px 20px;
	padding:10px;
	background:#F2F1EF;
	box-shadow:2px 2px 15px #979696;
	box-sizing:border-box;
	color:#000;
	text-align:center;
}
@media all and (max-width:299px){
	.eventBox{
		display:none;
	}
}
@media all and (min-width:300px) and (max-width:768px){
	.eventBox{
		width:250px;
		margin:10px 2px;
	}
}
.eventBox div{
	margin:auto;
	left:0;right:0;
}
.eventTitle{
	height:100px;
	width:100%;
	overflow:hidden;
}
.eventTitle h2{
	font-size:25px;
	font-family: 'Anton', sans-serif;
	font-weight:400;
}
.eventDesc,.eventDescInfo{
	padding:0;
	text-align:left;
}
.eventDescInfo .eventDescInfoContainer{
	text-align:left;
	overflow-x:hidden;
	overflow-y:hidden;
	height:220px;
}
.eventDescInfo .eventDescInfoContainer:hover{
	overflow-y:auto;
	overflow-x:auto;
}
.eventCTA{
	bottom:5px;
	width:100%;
	position:absolute;
}
.eventCTA button{
	width:100%;
	font-weight:600;
	font-size:20px;
}
/** Alumni Section **/
#alumni{
	background:#ECF0F1;
	padding-bottom:50px;
}
#alumni .section-header{
	color: #FFF;
}
.alumniDescription{
	position:relative;
	padding:20px;
	padding-left: 50px;
	text-align:center;
}
.alumniDescription p{
	font-size:28px;
	font-style:italic;
	font-family:"Pacifico",cursive;
}
.alumniDescription:before{
	content:'\f10d';
	position:absolute;
	top:0;
	left:0;
	color:rgba(0,0,0,0.1);
	font-size:45px;
}
.alumniDescription:after{
	content:'\f10e';
	position:absolute;
	bottom:0;
	right:0;
	color:rgba(0,0,0,0.1);
	font-size:45px;
}
/** Team Section **/
#team{
/**	background:#2C3E50;**/
	padding-bottom:50px;
	color: #FFF;
    box-shadow:inset 0px 1px 9px 5px #000;
}
.teamBox{
	position:relative;
	width:180px;
	height:100px;
	padding:0px;
	padding-top:50px;
	text-align:center;
	margin:30px 20px;
	background:#F2F1EF;
	color:#000;
}
.teamBox .teamPhotoContainer{
	position:absolute;
	top:-50px;
	border-radius:50%;
	border:5px solid #D4D4D4;
	overflow:hidden;
}
.teamBox .teamPhotoContainer,
.teamBox .teamPhotoContainer img{
	height:100px;
	width:100px;
}
.teamInfoContainer{
	margin:5px;
}
.teamName{
	font-size:18px;
}
.teamDesignation{
	font-style:italic;
	font-size:12px;
}
/** Contact Section **/
#contact{   
	padding:0;
	height:auto;
}
#contact .section-header{
	background:rgba(0,0,0,0.5);
	margin-top:30px;
	color:#FFF;
}
.icon-grey{
	padding:25px;
	font-size:75px;
	color:rgba(0,0,0,0.5);
}
.icon-grey:hover{
	color:rgba(0,0,0,0.8);
}
.icon-grey.hover-blue:hover{
	color:rgba(34,121,224,0.8);
}
.icon-grey.hover-red:hover{
	color:rgba(192,41,43,0.8);
}
.icon-grey.hover-yellow:hover{
	color:rgba(236,214,14,0.8);
}
