.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events__title {
  color: white;
  font-weight: 800;
}

.events__title_highlight {
  background-image: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
