.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events__title {
  color: white;
  font-weight: 800;
}

.events__title_highlight {
  background-image: linear-gradient(
    90deg,
    rgba(95, 189, 255, 1) 0%,
    rgba(105, 112, 250, 1) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
