.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutus__title {
  color: white;
  font-weight: 800;
}

.aboutus__title_highlight {
  background-image: linear-gradient(
    90deg,
    rgba(95, 189, 255, 1) 0%,
    rgba(105, 112, 250, 1) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.aboutus__container {
  display: flex;
  margin: var(--margin-large-l);
}

@media screen and (max-width: 1024px) {
  .aboutus__container {
    flex-direction: column;
    align-items: center;
    margin: var(--margin-medium)
  }
}


@media screen and (max-width: 425px) {
  .aboutus__container {
    flex-direction: column;
  }
}
