<section id="alumni" class="alumni-section ">
    <div class="container">

       
        <div class="row row-centered ">
            <div class="col-lg-12 headerContainer col-centered">
                <span class="bottom-border bottom-border-success center"><h1 class="section-header" id="aluminiHeader">Meet Our Alumini</h1></span>
            </div>
        </div>

         <div class="fa  alumniDescription row-centered">
            <p>{{ alumni_description }}</p>
        </div>


<div class="row ">
 {%- for senior in alumini %}

 <div class="col-lg-3 col-md-3 col-sm-3 ">
  <div class="alumini_columns">

   <div class="controlh">

   <img class="alumini_dp img-fluid" src="{{senior.picurl}}" alt="{{senior.name}}" title="{{senior.name}}"/><br/>
   <a href="{{senior.linkedin}}" class="desktop iconlinkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
   
   </div>

   <div class="alumininames">{{senior.name}}</div>
   <hr class="alumini_card_divider"/>
   <div class="workplacename">{{senior.currently_working}}</div>

   <a href="{{senior.linkedin}}" class="iconlinkedin mobile"><i class="fa fa-linkedin"></i></a>
  </div>

</div>
 {%endfor%}
</div>

       
    </div>
</section>
