{# This template is a subpart for index.html and requires events context #}
<section id="events" class="events-section theme-bg ">
    <div class="container">
        <div class="row row-centered">
            <div class="col-lg-12 headerContainer col-centered">
                <span class="bottom-border center"><h1 class="section-header text-center" id="upcomingEventsHeader">Upcoming Events</h1></span>
            </div>
        </div>
        <div class="row eventsList text-center row-centered" id="eventsListContainer">
            <!-- This section contains all the upcoming events -->
            {%- for event in events %}
                <div class="slide col-xs-3 eventBox col-centered text-center" id="eventBox-">
                    <div class="row eventThumb">
                        <img src="{{ event.poster }}" />
                    </div>
                    <div class="row eventTitle">
                        <div class="col-lg-12 text-center">
                            <h2>{{ event.title }}</h2>
                        </div>
                    </div>
                    <div class="row eventInfo">
                        <div class="col-xs-7 eventDesc">
                            <div class="row eventDescInfo">
                                <div class="col-lg-12">
                                    <p class="eventDescInfoContainer">
                                        {{ event.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 eventTiming text-left">
                            <div class="date">
                                <i class="fa fa-calendar icon"></i>&nbsp;
                                <span><strong>{{ event.date }}</strong></span>
                            </div>
                            <div class="startTimimg">
                                <i class="fa fa-clock-o icon"></i>&nbsp;
                                <span><strong>{{ event.startTime }}</strong></span>
                            </div>
                            <div class="endTimimg">
                                <i class="fa fa-clock-o icon"></i>&nbsp;
                                <span><strong>{{ event.endTime }}</strong></span>
                            </div>
                            <div class="eventLocation">
                                <i class="fa fa-map-marker icon"></i>&nbsp;
                                <span><strong>{{ event.location }}</strong></span>
                            </div>
                            <div class="eventOD">
                                {%-if event.eventOD  %}
                                <i class="fa fa-thumbs-up icon text-success"></i>&nbsp;
                                <span><strong>OD</strong></span>
                                {%- else %}
                                <i class="fa fa-thumbs-down icon text-danger"></i>&nbsp;
                                <span><strong>No OD</strong></span>
                                {%- endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row eventCTA">
                    {%- if event.cta2enable %}
                        <div class="col-xs-6 text-center">
                            <a href="{{ event.cta }}" target="_blank">
                                <button class="btn btn-danger btn-lg btn-flat">{{ event.ctaText }}</button>
                            </a>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="{{ event.cta2 }}" target="_blank">
                                <button class="btn btn-primary btn-lg btn-flat">{{ event.cta2Text }}</button>
                            </a>
                        </div>
                    {%- else %}
                        <div class="col-xs-12 text-center">
                            <a href="{{ event.cta }}" target="_blank">
                                <button class="btn btn-danger btn-lg btn-flat">{{ event.ctaText }}</button>
                            </a>
                        </div>
                    {%- endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row text-right">
        <div class="btn-group btn-sm">
            <a href="https://github.com/asetalias/Logistics-and-Event-Contributions/issues/new"><button class="event-buttons btn  btn-danger" id="eventHostBtn">Want to give a talk/lead a workshop?</button></a>
            <a href="https://github.com/asetalias/Logistics-and-Event-Contributions/wiki"><button class="event-buttons btn  btn-primary" id="eventSuggestBtn">Read our Events Wiki</button></a>
        </div>
    </div>
</section>
