<section id="hero-section">
    <div id="circle1"></div>
    <div class="hero-section__container">
        <div id="hero-section__welcome">
            <h1 id="howdy-h1">Howdy Developers!</h1>
            <h1>Join the biggest</h1>
            <h1>Open Source Community</h1>
            <h1 id="amity-h1">in AMITY!</h1>
        </div>
        <div id="hero-section__buttons">
            <a href="https://goo.gl/forms/mZAhlJMxqCwZVbRK2">
                <button class="hero-section__button">Join us</button>
            </a>
            <a href="index.html#intro" class="page-scroll">
                <button class="hero-section__button" >What have we achieved?</button>
            </a>
        </div>
    </div>
</section>