<section id="home" class="home-section ">
    <div class="container">
        <div class="slidesContainer slider single-item slick-slider">
            <div class="slide" style="background-image: url('images/bgrnd.jpeg'); ">
                <div class="container" style="position: relative;height: 100%;width: 100%;">
                    <div class="text-center absolute-center slideContent">
                        <div class="row slideHeader">
                            <h1>Howdy Developers!</h1>
                        </div>
                        <div class="row slideSubHeader">
                            <p class="description">ALiAS welcomes you to Amity! Let's see what ALiAS offers you!</p>
                        </div>
                        <div class="row slideButton">
                            <div class="col-xs-6">
                                <a href="{{ join_now_link }}" class="page-scroll joinNowBtnLink">
                                    <button class="btn btn-lg btn-success pull-right">Join Now</button>
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#intro" class="page-scroll">
                                    <button class="btn btn-lg btn-primary btn-semi-transparent pull-left">Know More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="slide" style="background-image:url('images/bg-1080p-3.jpg')">
                <div class="container" style="position: relative;height: 100%;width: 100%;">
                    <div class="text-center absolute-center slideContent">
                        <div class="row slideHeader">
                            <div class="col-xs-12">
                                <h1>Code and Learn</h1>
                            </div>
                        </div>
                        <div class="slideSubHeader width-60 center-block">
                            <div class="siteAboutHistory">
                                <p class="description">Check out these awesome projects developed by the members of ALiAS!</p>
                            </div>
                        </div>
                        <div class="row slideButton">
                            <div class="col-xs-12"><a href="showcase.html"><button class="btn btn-primary btn-large">View Projects</button></a></div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</section>