<section id="intro" class="intro-section ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 headerContainer">
                <span class="bottom-border bottom-border-danger center">
                    <h1 class="siteAboutContainer animated section-header">
                        {{ site_about }}
                    </h1>
                </span>
            </div>
        </div>
        <div class="row  text-left siteAboutMore animated">
            <div class="siteAboutHistory col-sm-6">
                <!-- This div contains "How the club came to be?" -->
                <div class="section-header subheader">
                    <span class="bottom-border bottom-border-danger"><i class="fa fa-flag iconMed"></i> <span class="heading">The Journey</span></span>
                </div>
                <p class="description">
                    {{ site_history }}
                </p>
            </div>
            <div class="siteAboutServices col-sm-6">
                <!-- This section contains "Why should I join the club" details and Join Club link button -->
                <div class="section-header subheader">
                    <span class="bottom-border bottom-border-danger"><i class="fa fa-university iconMed"></i> <span class="heading">Why should I join the club?</span></span>
                </div>
                <p class="description">
                    Join the club and which is just not about certificates or designation(s): <br/>
                    <ul class="list-group list-unstyled servicesList">
                        <!-- This List contains all that club offers
                            Format: <li class="fa"><span>Service description</span></li>
                            fa class added in li is used to add Ticks using pseudo elements
                        -->
                        {%- for service in services %}
                        <li><i class="fa fa-code-fork text-danger"></i><span> {{ service }}</span></li>
                        {%- endfor %}
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <a class="joinNowBtnLink" href="{{ join_now_link }}">
                <!-- This anchor contains link to Registration form of the club -->
                <button id="joinNowBtn" class="btn btn-danger btn-semi-transparent btn-lg">Join Now</button>
            </a>
        </div>
    </div>
    <!--Container Ends -->
</section>
