.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__title {
  color: white;
  font-weight: 800;
  text-align: center;
  margin: 0 var(--margin-small-s);
}

.team__title_highlight {
  background-image: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
