.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__title {
  color: white;
  font-weight: 800;
  font-size: var(--font-large);
}

.team__title_highlight {
  background-image: linear-gradient(
    90deg,
    rgba(255, 116, 25, 1) 0%,
    rgba(255, 184, 0, 1) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
