---
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Events from '@/components/Events.svelte';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/config';
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="prose prose-invert max-w-4xl">
      <h1>🧑‍🚀 Hello, Astronaut!</h1>
      <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This template serves as a lightweight, minimally-styled starting point for anyone looking
        to build a personal website, blog, or portfolio with Astro.
      </p>
      <hr class="my-12 w-2/3 mx-auto" />
      <Events client:visible />
    </main>
    <Footer />
  </body>
</html>
