.about_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--margin-medium);
    width: 30%;
}

.about_item__image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.about_item__title {
    font-size: var(--font-medium);
    color: white;
    font-weight: 700;
}

.about_item__description {
    font-size: var(--font-medium-s);
    color: white;
    font-weight: 400;
    text-align: center;
}

@media  screen and (max-width: 1024px) {
    .about_item {
        width: 70%;
        margin: var(--margin-medium) 0;
    }

    .about_item__title {
        font-size: var(--font-medium-sm);
    }

    .about_item__description {
        font-size: var(--font-small);
    }
}

@media screen and (max-width: 625px) {
    .about_item {
        width: 100%;
    }

    .about_item__image {
        height: 150px;
        width: 150px;
    }
}
