.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title {
  color: white;
  font-weight: 800;
  text-align: center;
  margin: 0 var(--margin-medium-s);
}

.contact__title_highlight {
  background-image: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.contact__social {
  display: flex;
  gap: var(--margin-large);
  margin: var(--margin-large-l) 0;
}

.social__img {
  height: 4rem;
  width: 4rem;
  filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(190deg)
    brightness(106%) contrast(102%);
  transition: all 0.3s ease-in-out;
}

.social__img:hover {
  filter: invert(55%) sepia(97%) saturate(2704%) hue-rotate(190deg)
    brightness(100%) contrast(104%) drop-shadow(0 0 0.75rem var(--color-accent));
}

.powered {
  display: flex;
  flex-direction: row;
  gap: var(--margin-large);
}

.powered a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__chapter {
  width: 100%;
  max-width: 300px;
}

.contact__credits {
  color: white;
  font-size: var(--font-medium-s);
  font-weight: 500;
  text-align: center;
  margin: var(--margin-large) 0;
}

.contact__heart {
  color: red;
  text-shadow: 0 0 10px var(--color-accent), 0 0 20px var(--color-accent);
}

@media screen and (max-width: 768px) {
  .powered {
    flex-direction: column;
  }

  .contact__social {
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--margin-medium);
    margin-top: var(--margin-large);
    margin-bottom: var(--margin-medium);
    margin-left: var(--margin-medium);
    margin-right: var(--margin-medium);
  }
}

@media screen and (max-width: 430px) {
  .contact__social {
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--margin-medium);
    margin-top: var(--margin-large);
    margin-bottom: var(--margin-medium);
    margin-left: var(--margin-medium);
    margin-right: var(--margin-medium);
  }

  .social__img {
    height: 2.5rem;
    width: 2.5rem;
  }

  .powered {
    gap: 0;
  }

  .contact__chapter {
    width: 70%;
    margin: var(--margin-medium) 0;
  }

  .contact__credits {
    font-size: var(--font-small);
    margin: var(--margin-medium) 0;
  }
}