---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props as Props;
const isActive = href === Astro.url.pathname;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a {
    @apply inline-block;
    @apply no-underline;
    font-family: mono;
    font-weight: 700
  }
  a.active {
    @apply font-bold;
    @apply underline;
  }
</style>
