---
import HeaderLink from "./HeaderLink.astro";
import Logo from "@/components/Logo.astro";
---

<header class="my-4">
  <nav class="flex justify-between mx-4">
    <a href="/" class="h-16 w-16"><Logo /></a>
    <div class="flex items-center gap-4">
      <HeaderLink class="align-middle" href="/about">About Us</HeaderLink>
      <HeaderLink href="/events">Events</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/join">Join Us</HeaderLink>
    </div>
  </nav>
</header>
