---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "@/config";
import Logo from "@/components/Logo.astro";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav class="flex justify-between mx-4">
    <a><Logo /></a>
    <div class="flex items-center gap-4">
      <HeaderLink class="align-middle" href="/about">About Us</HeaderLink>
      <HeaderLink href="/events">Events</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/join">Join Us</HeaderLink>
    </div>
  </nav>
</header>
