.carousel__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--margin-large-l);
    width:100%;
}

.carousel {
    display: flex;
    height: 43rem;
    width: 92rem;
    gap: var(--margin-medium);
    overflow-x: hidden;
}

.carousel__button__left {
    background: url(/assets/icons/left-arrow.svg) no-repeat;
    height: 4rem;
    width: 4rem;
    border: none;
    cursor: pointer;
    margin: 0 var(--margin-medium);
  }

  .carousel__button__right {
    background: url(/assets/icons/right-arrow.svg) no-repeat;
    height: 4rem;
    width: 4rem;
    border: none;
    cursor: pointer;
    margin: 0 var(--margin-medium);
  }