{% extends 'components/_base.html' %}
{% block title %}Open Source Communities{% endblock %}
{% block content %}
    <div id="contentWrap">
        {% for community in communities %}
        <section class="communityBox auto-center" id="{{ community.tag }}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 headerContainer col-centered">
                        <h1 class="section-header text-center">{{ community.title }}</h1>
                    </div>
                </div>
                <div class="row">
                    {%- if community.logo|length > 0 %}
                    <img class="logo-med" src="{{ community.logo }}"/>
                    {%- endif %}
                    <p><br>{{ community.desc }}</p>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
 {% endblock %}
