{% extends 'components/_base.html' %}
{% block title %}Open Source Communities{% endblock %}
{% block content %}
    <div id="contentWrap">
        {% for community in communities %}
        <section class="communityBox auto-center" id="{{ community.tag }}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 headerContainer col-centered">
                        <h1 class="section-header text-center">{{ community.title }}</h1>
                    </div>
                </div>
                <div class="row">
                    <p>{{ community.desc }}</p>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
 {% endblock %}
 {% block js %}
    <!-- Page Scripts -->
    <script src="js/communities-page.js"></script>
{% endblock %}