{% extends 'components/_base.html' %}
{% block title %}Open Source Communities{% endblock %}
{% block content %}
    <main id="contentWrap" class="communitiesContentWrap">
        <div class="gridWrap">
            <div class="grid-heading">
                <div class="bottom-border center">
                    <h1 class="section-header text-center" >Communities</h1>
                </div>
            </div>
            {% for community in communities %}
            <div class="card">
                <div class="cardLogo">
                    {%- if community.logo|length > 0 %}
                        <img class="logo-med communities" src="{{ community.logo }}"/>
                    {%- else%}
                        <h1 class="section-header text-center">{{ community.title }}</h1>
                    {%- endif %}
                </div>
                <div class="cardBody">
                    {{ community.desc }}
                </div>
                <div class="cardFooter">
                    {%- for link in community.links %}
                        <a href="{{ link.url }}" target="_blank">
                            <i class="fa fa-{{ link.icon }}"></i>
                        </a>
                    {%- endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="grid-heading">
                <div class="bottom-border center">
                    <h1 class="section-header text-center" >Conferences &#38; Open Source Programs</h1>
                </div>
            </div>
            {% for conference in conferences %}
            <div class="card">
                <div class="cardLogo">
                    {%- if conference.logo|length > 0 %}
                        <img class="logo-med communities" src="{{ conference.logo }}"/>
                    {%- else%}
                        <h1 class="section-header text-center">{{ conference.title }}</h1>
                    {%- endif %}
                </div>
                <div class="cardBody">
                    {{ conference.desc }}
                </div>
                <div class="cardFooter">
                    {%- for link in conference.links %}
                        <a href="{{ link.url }}" target="_blank">
                            <i class="fa fa-{{ link.icon }}"></i>
                        </a>
                    {%- endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
 {% endblock %}
