.team {
  position: relative;
  height: 40rem;
  width: clamp(60%, 100%, 100%);
}

.team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 var(--margin-small);
  border-radius: 1rem;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.picture,
.content {
  position: absolute;
}

.picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
}

.content__name {
  font-size: clamp(var(--font-medium-sm), 100%, var(--font-medium));
  font-weight: 600;
  color: white;
  text-align: center;
}

.content__role {
  font-size: var(--font-medium-s);
  font-weight: 400;
  color: white;
  margin-bottom: var(--margin-small-s);
}

@media screen and (max-width: 1024px) {
  .team {
    height: 35rem;
  }
}

@media screen and (max-width: 768px) {
  .team {
    height: 30rem;
  }
}

@media screen and (max-width: 325px) {
  .team {
    height: 25rem;
  }
}