.team {
  position: relative;
}

.team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 28rem;
  height: 40rem;
  position: relative;
  cursor: pointer;
}

.picture,
.content {
  position: absolute;
}

.picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
}

.content__name {
  font-size: var(--font-medium);
  font-weight: 600;
  color: white;
  text-align: center;
}

.content__role {
  font-size: var(--font-medium-s);
  font-weight: 400;
  color: white;
  margin-bottom: var(--margin-small-s);
}
