.event {
  height: 40rem;
  aspect-ratio: 69 / 100;
  overflow-y: hidden;
}

.event__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin: 0 var(--margin-small);
  height: 90%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.event:hover .event__container,
.event:focus .event__container {
  transform: rotateY(180deg);
}

.event:hover .content__btn {
  transform: rotateY(180deg);
  bottom: -65px;
}

.poster,
.poster__background,
.poster__background__container,
.content {
  backface-visibility: hidden;
  position: absolute;
}

.poster {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  z-index: 2;
  transform: rotateY(0deg);
  object-fit: contain;
  backdrop-filter: blur(20px);
}

.poster__background {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  z-index: 1;

}


.content {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  transform: rotateY(180deg);
  background-color: white;
}

.content__container {
  display: flex;
  flex-direction: column;
  padding: var(--margin-medium-large) var(--margin-medium);
}

.content__title {
  font-size: clamp(var(--font-medium-s), 2.5vw, var(--font-medium));
  font-weight: 800;
  text-align: center;
}

.content__items_container {
  margin: var(--margin-medium-s) 0;
}

.content__item {
  display: flex;
  align-items: center;
  gap: var(--margin-small);
  margin-top: var(--margin-small);
}

.content__item img {
  height: clamp(20px, 2.5vw, 35px);
  width: clamp(20px, 2.5vw, 35px);
}

.content__item p {
  font-size: var(--font-small);
  font-weight: 500;
}

.content__desc_title {
  font-size: clamp(var(--font-small), 2.5vw, var(--font-medium-s));
  font-weight: 700;
  margin-bottom: var(--margin-small);
}

.content__desc_detail {
  font-size: var(--font-small);
  font-weight: 400;
  text-align: justify;
  margin-top: 0;
}

.content__btn {
  margin: var(--margin-medium);
  background: var(--color-accent);
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem;
  font-size: clamp(var(--font-small), 2.5vw, var(--font-medium));
  font-weight: 600;
  color: white;
  cursor: pointer;
  bottom: -5px;
  position: absolute;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: all 0.8s;
  z-index: 3;
}

.content__btn a {
  text-decoration: none;
}

@media screen and (max-width: 1445px) {
  .event {
    height: 35rem;
    aspect-ratio: inherit;
  }
}

@media screen and (max-width: 1024px) {
  .event {
    height: 36rem;
    aspect-ratio: inherit;
  }
}

@media screen and (max-width: 768px) {
  .event {
    height: 30rem;
    aspect-ratio: inherit;
  }
}

@media screen and (max-width: 625px) {
  .event {
    height: 40rem;
    aspect-ratio: inherit;
  }

}

@media screen and (max-width: 430px) {
  .event {
    height: 35rem;
    aspect-ratio: inherit;
  }

  .content__container {
    padding: var(--margin-medium) var(--margin-small);
  }
}

@media screen and (max-width: 325px) {
  .event {
    height: 25rem;
    aspect-ratio: inherit;
  }
}
