.alumni_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.alumni_item__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alumni_item__img_container {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  z-index: 1;
  background: linear-gradient(180deg, rgba(255,111,28,1) 40%, rgba(0,0,0,1) 100%);
}

.alumni_item__img {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  z-index: 2;
}

.alumni_item__firstname {
  font-family: "JetBrains Mono", monospace;
  margin-top: var(--margin-small);
  font-size: var(--font-medium);
  font-weight: 400;
  color: white;
}

.alumni_item__lastname {
  font-family: "JetBrains Mono", monospace;
  font-size: var(--font-medium);
  font-weight: 400;
  color: white;
}

.alumni_item__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -2rem;
  top: 2rem;
}

.alumni_item__quote {
  display: flex;
  align-items: center;
  border: 6px solid var(--color-accent);
  border-radius: 1rem;
  height: 8rem;
  width: 16rem;
  padding: var(--margin-small);
  box-shadow: inset var(--color-accent) 0 0 30px 0,
    var(--color-accent) 0px 0px 30px 0px;
  background-color: #ff6f1c1f;
}

.alumni_item__quote_text {
  font-family: "JetBrains Mono", monospace;
  font-size: var(--font-medium-s);
  font-weight: 400;
  color: white;
  padding: var(--margin-small);
  text-align: center;
  text-shadow: 0 0 100px var(--color-accent);
}

@media screen and (max-width: 625px) {
  .alumni_item {
    flex-direction: row;
    height: fit-content;
  }

  .alumni_item__quote {
    left: -2rem;
    top: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .alumni_item__img_container,
  .alumni_item__img {
    height: 11rem;
    width: 11rem;
  }

  .alumni_item__quote {
    height: 5rem;
    width: 10rem;
    left: -1.5rem;
    top: 1rem;
  }

  .alumni_item__firstname,
  .alumni_item__lastname {
    font-size: var(--font-medium-s);
  }

  .alumni_item__quote_text {
    font-size: var(--font-small);
  }
}
