<section id="footer">
    <div class="container">
        <div class="row widgetsContainer">
            <div class="widgetArea col-sm-4" id="footerWidgetArea1">
                <!-- Widget Area 1 -->
                <div class="widget">
                    <div class="widgetTitle">
                        <h3>Follow us on Twitter</h3>
                    </div>
                    <div class="widgetContent">
                        <a class="twitter-timeline" data-lang="en" data-height="350" data-dnt="true" data-theme="light" href="https://twitter.com/AsetALiAS?ref_src=twsrc%5Etfw">Tweets by AsetALiAS</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
            <div class="widgetArea col-sm-4" id="footerWidgetArea2">
                <!-- Widget Area 2 -->
                <div class="widget">
                    <div class="widgetTitle">
                        <h3>Subscribe us on YouTube</h3>
                    </div>
                    <div class="widgetContent">
                        <div class="youtubeVideo">
                            <img src="https://img.youtube.com/vi/fjxUa7HX0NY/mqdefault.jpg" />
                        </div>
                        <script src="https://apis.google.com/js/platform.js"></script>
                        <div class="g-ytsubscribe" data-channelid="UCKkyqEMLFW3jz-q3nJIFL3g" data-layout="full" data-count="default"></div>
                    </div>
                </div>
            </div>
            <div class="widgetArea col-sm-4" id="footerWidgetArea3">
                <!-- Widget Area 3 -->
                <div class="widgetTitle">
                    <h3>Contact Us</h3>
                </div>
                <div class="widgetContent">
                    <ul class="contactLinksContainer text-left">
                        {%- for link in contact_links %}
                        <li>
                            <i class="fa icon-grey fa-{{ link.icon }} text-{{ link.iconColor }}"></i>
                            <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                        </li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
