<div id="mainNav">
    <nav class="navbar navbar-default">
        <div class="container auto-center">
            <div class="navbar-header logoContainer text-center">
                <a href="index.html#page-top" class="page-scroll"><img class="logo logoDisplay auto-center" src="{{ logo_dark }}"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuPrimary">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse text-center" id="menuPrimary">
                <ul class="nav navbar-nav pull-right">
                    <li class="nav-item hidden">
                        <a class="page-scroll" href="index.html#page-top"> </a>
                    </li>
                    <li class="nav-item">
                        <a class="page-scroll" href="index.html#intro" data-target="#menuPrimary">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="page-scroll" href="index.html#events" data-target="#menuPrimary">Events</a>
                    </li>
                    <li class="nav-item">
                        <a href="prev_events.html" data-target="#menuPrimary">Previous Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="page-scroll" href="index.html#webinars" data-target="#menuPrimary">Webinars</a>
                    </li>
                    <li class="nav-item">
                        <a href="gallery.html" data-target="#menuPrimary">Photo Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="communities.html" data-target="#menuPrimary">Communities</a>
                    </li>
                    <li class="nav-item">
                        <a href="showcase.html" data-target="#menuPrimary">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://asetalias.in/blog/" data-target="#menuPrimary">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
