@import 'variables.css';

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: url(/assets/images/bg.png) repeat 0 0;
  animation: bg-scrolling-reverse 3s infinite;
  animation-timing-function: linear;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  margin: 0 auto;
  height: 100vh;
}

a {
  color: inherit;
}

h1,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--font-large);
  line-height: 1.2;
}

h2 {
  font-size: var(--font-medium-lm);
}

button {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: var(--font-medium-lm);
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: var(--font-medium-large);
  }
}

@media screen and (max-width: 430px) {
  h1 {
    font-size: var(--font-medium);
  }
}

@media screen and (max-width: 320px) {
}